

.container{
    margin-top: 100px;
    margin-left: 0;
    width: 100%;
    height: 350px;
    background-color: white;

}
.item {
    float: left;
    margin-left: 4%;
    background-color:teal;
    width:20% ;
    height:100% ;
}
.img{
    margin-top:35% ;
    margin-left: 30%;
}
.bn {
    text-align: center;
   color:#ff0000;
}